{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Black Stack Hub</title>
      <link rel="stylesheet" href="{% static 'css/coming-soon.css' %}">
      <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
      <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
      <meta property="og:title" content="Black Stack Hub">
      <meta property="og:description" content="Black Stack Hub">
      <meta property="og:image" content="{% static 'images/blackstackhub.jpg' %}">
      <meta property="og:url" content="https://blackstackhub.com">
      <meta name="twitter:card" content="summary_large_image">
   </head>
   <body>
      <header>
         <a class="logo" href="">
            <img src="{% static 'images/blackstackhub.jpg' %}" alt="Logo Alt Text">
         </a>
         <ul class="nav-list">
             <li><a href="#home" class="nav-link">Home</a></li>
             <li><a href="#products" class="nav-link">Product</a></li>
             <li><a href="#blogs" class="nav-link">Blog</a></li>
             <li><a href="#about" class="nav-link">About</a></li>
             <li><a href="#contact" class="nav-link">Contact</a></li>
         </ul>
      </header>
      <div class="container">
         <div class="section active" id="home">
            <canvas id="logoCanvas"></canvas>
         </div>
         
         <div class="section" id="products">
           <h2>Product Section</h2>
           <p>This is the content for the about section.</p>
         </div>
         
         <div class="section" id="blogs">
           <h2>Blog Section</h2>
           <p>This is the content for the services section.</p>
         </div>
         
         <div class="section" id="about">
           <h2>About Section</h2>
           <p>This is the content for the contact section.</p>
         </div>
         
         <div class="section" id="contact">
           <h2>Contact Section</h2>
           <p>This is the content for the contact section.</p>
         </div>
      </div>
      <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>
