body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  background-color: black;
  color: white;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: -5px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  margin-top: 10vh;
  text-align: center;
  position: relative;
  z-index: 1;
}

header {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 100%;
  padding: 1em 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.nav-list li {
  flex-grow: 1;
  text-align: center;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.nav-list li:first-child a {
  color: black;
  visibility: hidden;
}


.section {
  display: none;
  margin-top: -10vh;
}

.section.active {
  display: block;
  animation: slide-up 0.5s ease forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


/* debugging canvas 
#blackstackhub, .container{
  background-color: red;
  color: white;
}
*/